// .nav-minicart .delete-text {
//   display: none;
// }

.minicartButton {
    width: 100%;
    margin-top: 12px;
}

.verifiedUser {
    background: green; 
    padding: 2em; 
    p {
        color: white;
    }
}

