/*-------- 25. Offer style ---------*/

.offer-container {

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: $white;
        margin-bottom: 1.5rem;
        font-family: 'ITC Avant Garde Gothic Pro, sans-serif';
    }

    padding: 2em;
}